<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">About Maggie</h2>
        <p class="text-white-50">Donec sed odio dui. Donec id elit non mi porta gravida at eget metus.Donec sed odio dui. Donec id elit non mi porta
          gravida at eget metus.
          <a href="assets/http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
      </div>
    </div>
  </div>
</section>
