<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">About Maggie</h2>
        <p class="text-white-50">Magdalena Luna is an up-and-coming Tattoo Artist with two years of experience. After completing an apprenticeship
          in Logan, Utah, she began touring the country tattooing at expos, drawing orignal artwork, and guest spotting at
          local shops. In her free time she enjoys collaborating art in many different mediums, traveling, and spending time
          with her son. Take a look at her instagram for updates and where she'll be next!</p>
        <img src="assets/upcoming-events.jpg" alt="">
      </div>
    </div>
  </div>
</section>
