<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Magdalena Luna<b> Tattoo</b></h1>
        <br />
        <a href="assets/#about" class="btn btn-primary js-scroll-trigger">Book Now</a>
        <a href="assets/#about" class="btn btn-secondary js-scroll-trigger">Subscribe</a>
        <br />
        <span id="footer">Subscribe now for 15% off your next tattoo</span>
      </div>
    </div>
  </header>
